@media only screen and (max-width: 600px) {
    .btnLoc {
        width: 200px;
        /* margin-top: 100px; */
        /* margin-left: 30px; */
    }

    .Nav_lg {
        display: none;
    }

    .Nav_Icon {
        display: none;
    }

    .imgHeadPhone {
        position: relative;
        padding-top: 0%;
    }

    .imgHeadPhone {
        display: none;
    }

    .listRating {
        margin-top: -13px;
    }

    .listproductPrice {
        font-size: 14px;
    }

    .MuiRating-icon {
        font-size: medium;
        left: -27px;
        margin-top: -15px;
    }

    /* body {
      font-size: 8px;
    } */
    button {
        font-size: 0.5em;
        padding: 0.5em;
    }

    .AM_list {
        display: none;
    }

    .grid-item {
        width: 5rem;
        height: 10rem;
        background-color: #4444ff;
    }

    .listFilter {
        display: none;
    }

    .listproductName {
        margin-top: -15px;
        font-size: 15px;
    }

    .listGridItem {
        text-align: center;
        padding: 8px;
        border: 1px solid rgba(119, 119, 119, 0.8);
        text-align: left;
        max-width: 20rem;
        max-height: 30rem;
        padding: 10px;
        margin: 5px;

    }

    .listGrid {
        padding-top: 20px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .listproductName {
        margin-top: -15px;
        font-size: 15px;
    }

    .listproductPrice {
        margin-top: -15px;
    }

    .Card {
        border: #4444ff;
    }

    .listtype {
        font-size: 2px;
    }
}

@media (min-width: 600px) {
    .Navbar_sm {
        display: none;
    }

    .imgHeadPhone_xs {
        display: none;
    }

    .imgBody3_tilte {
        background-color: #4444ff;
        width: 4400px;
        padding-top: 300px;
        margin-right: 120px;
    }

    .iPhoneName {
        font-size: 50px;
        font-weight: 700;
    }
}


.listimg {
    height: 50%;
}

.listproductPrice {
    margin-top: -15px;
}

.listproductName {
    margin-top: -15px;
}

.listFilter {
    padding-top: 40px;
    padding-left: 90px;
}

.Nav_sm_NavItem {
    width: 20%;
    background-color: #4444ff;
}

.footer {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    background-color: #ced4da;
}

.Navbar_sm {
    color: white;
    background-color: rgb(54, 53, 53);
}

.icoShopping {
    background-color: rgb(252, 22, 22);
    width: 20px;
    text-align: center;
    border-radius: 25px;
    height: 20px;
    align-items: flex-end;
    margin-top: -10px;
    margin-left: -5px;
}

.NavItem_con {
    display: flex;
    justify-content: flex-end;
}

.menu {
    background-color: aqua;
}

.imgHeadPhone_xs {
    margin-top: 30px;
    text-align: center;
}

.Navbar_sm_Nav {
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 15px;
    color: white;
    background-color: rgb(54, 53, 53);
    position: absolute;
    width: 98%;
    text-align: left;

}

.listGrid {
    display: flex;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.listtype {
    font-size: 16px;
    color: red;
    font-weight: 600;
}

.listGridItem {
    position: relative;
    padding: 18px;
    border: 1px solid rgba(179, 179, 179, 0.8);
    font-size: 25px;
    text-align: center;
    margin: 0.5rem;
    height: auto;
    width: auto;
    max-width: 20rem;
    max-height: 30rem;
}

.HOME_card {
    height: auto;
    width: 15rem;
    margin: 1rem;
}

.listgridItem:hover {
    opacity: 0.7;
    border: 1px solid rgba(254, 4, 4, 0.8);
}

.btnLoc {
    width: 200px;
    margin-top: 50px;
    margin-left: 80px;
}



.ShoppingCartCheckoutIcon {
    background-color: #4444ff;
    margin-top: 15px;
    text-align: end;
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.iconPhone {
    /* background-color: rgb(192, 190, 190); */
    width: 100px;
    margin: 10px;
    text-align: center;
}

.nav {
    padding-left: 200px;
    background-color: rgb(226, 226, 226);
}

.navItem {
    color: white;
}

img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.imgBody {
    margin-top: 3rem;
    text-align: center;
}

.imgBody2 {
    padding-top: 30px;
    margin-top: 30px;
    text-align: center;
    background-color: black;
}

h1 {
    font-size: 54px;
    background: -webkit-linear-gradient(rgba(2, 0, 36, 1) 1%, rgba(245, 36, 224, 1) 47%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.New {
    font-size: x-large;
}

.iPhoneName {
    margin-top: -10px;
    font-size: xx-large;
    font-weight: 500;
    color: black;
}

.iPhoneName2 {
    margin-top: -10px;
    font-size: xx-large;
    font-weight: 500;
    color: white;
}

.btnBuy {
    align-items: center;
    width: 85px;
    background-color: rgb(15, 15, 231);
    border-radius: 30px;
    height: 45px;
    margin-left: -40px;
}

a {
    font-size: larger;
    font-weight: 500;
    margin-left: 50px;
}

.img2 {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.imgBody3 {
    padding-bottom: -30px;
    margin-top: 30px;
    text-align: center;
    /* background-color: #f3f9ea; */
}

.imgBody3_tilte {
    width: 300px;
    position: absolute;
    justify-content: end;
    margin-top: 110px;
    text-align: center;
    right: 0px;
}

.imgBody3_img {
    width: 100%;
}

.imgBody4 {
    padding-left: 70px;
}

.imgHeadPhone {
    margin-top: 260px;
    text-align: center;
    width: 400px;
    margin-left: 220px;
    position: absolute;
}

.cardHeadPhone {
    text-align: center;
    justify-content: center;
}

.CardFooter:hover {
    background-color: rgb(65, 77, 255);
}

.imgCard {
    padding: 50px;
    text-align: center;
}

.imgItemInfo {
    width: 450px;
}

.imgItemInfo:hover {
    width: 500px;

}

.textInfo {
    padding-left: 150px;
}

.divColor1 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(8, 7, 7);
    border-radius: 20px;
    margin-top: 20px;
    /* border: 4px solid blue; */
}

.divColorAll {
    align-items: center;
}

.divColor2 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(253, 250, 243);
    border-radius: 20px;
    margin-top: 20px;
}

.divColorAll:hover {
    border: 1px solid blue;
    color: blue;
}

.btnAddToCard {
    background-color: rgb(58, 58, 221);
    width: 350px;
    padding: 5px;
    font-size: large;
    border-radius: 10px;
    margin-top: 50px;
}

.rowInfoH2 {
    padding-left: 70px;
    font-size: larger;
}

.hr1 {
    margin-left: 70px;
    width: 500px;
}

.cartInfoP {
    font-size: larger;
}

.rowInfo {
    margin-top: 50px;
}

.cartHeadH2 {
    font-size: 45px;
    font-weight: 700;
}

.cartHead {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.shopItem {
    justify-content: center;
    padding-right: 50px;
    /* padding: 80px; */
    padding-left: 50px;
    padding-bottom: 30px;
}

.shopImg {
    text-align: end;
    padding-right: 20px;
    padding-top: 50px;
}

.cartNameProduct {
    font-size: 25px;
    font-weight: 600;
}

s .shopDiv {
    padding-top: 20px;
}

.shopButton {
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: x-large;
    border: none;
}

.cartPrice {
    text-align: end;
}

.shopP {
    font-size: 15px;
    font-weight: 500;
    color: #4444ff;
    text-align: end;
}

.shopPriceP {
    margin-left: 15px;
    /* font-size: larger; */
    font-weight: 700;
}

.shopTotal {
    padding: 80px;

}

.shopCase {
    background-color: antiquewhite;
    padding-top: 0px;
}

.seclectCart {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 7px;
    width: 40px;
    font-size: larger;
    font-weight: 700;
}

.FacebookIcon:hover {
    font-size: 30px;
}

.InstagramIcon:hover {
    font-size: 30px;
}

.YouTubeIcon:hover {
    font-size: 30px;
}

.TwitterIcon:hover {
    font-size: 30px;
}

.imgHeader {
    width: 50px;
}

.SignInHeader {
    display: flex;
    text-align: left;
}

.AccountBoxIcon {
    color: #4444ff;
    text-align: right;
    margin-top: 10px;
    margin-left: 45px;
    align-items: right;
    /* border-radius: 3rem; */
}

.AppleIcon {
    margin-top: 15px;
    left: 50%;
}

.NavbarBrand {
    align-items: center;
}


.TTSoLuong {
    background-color: #4444ff;
}

.TTVitri {
    text-align: center;
    align-items: center;
    margin-top: 10px;
    background-color: rgb(240, 239, 239);
    /* padding-left: 20px; */
}

.TextFieldVoucher {
    width: 200px;
    margin: 30px;
}

.TTbtnDatHang {
    margin-left: 50px;
    width: 85%;
    background-color: rgb(243, 128, 33);
    margin-top: 20px;
    height: 55px;
}

.TTTongTien {
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.TTColTongTien {
    text-align: end;
    padding-right: 50px;
}


.cartTTKhachHang {
    padding-left: 40px;
    background-color: rgb(242, 242, 243);
}

.TTNguoiNhanHang {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid blue;
    background-color: #fcfcfc;
}

.TTInputDiaChi {
    width: 180px;

}


/* @import url('https://fonts.googleapis.com/css?family=Numans'); */


.loginDiv {
    background: rgb(13, 12, 33);
    background: linear-gradient(43deg, rgba(13, 12, 33, 1) 0%, rgba(115, 92, 125, 1) 47%, rgba(9, 202, 241, 1) 100%);
    height: 100%;
    align-content: center;
    padding: 110px;
}

.card1 {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    margin-left: 60px;
    color: black;
    background-color: #FFC312;
    width: 250px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links a {
    margin-left: 4px;
}

.SignDiv {
    background: rgb(13, 12, 33);
    background: linear-gradient(43deg, rgba(13, 12, 33, 1) 0%, rgba(217, 59, 217, 1) 28%, rgba(76, 206, 232, 1) 71%);
}

.SignForm {
    padding: 35%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.signH2 {
    font-size: 50px;
    font-weight: 400;
}

.signInput {
    border-radius: none;
    border-bottom: 1px solid black;
}

.signBtn {
    margin-top: 2rem;
    width: 200px;
}

.signDivBtn {
    justify-content: center;
    display: flex;
}