.menu {
    background-color: aqua;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    padding: 18px;
    border: 1px solid rgba(224, 224, 224, 0.8);
    font-size: 25px;
    text-align: center;
}

.grid-item:hover {
    opacity: 0.7;
    border: 1px solid rgba(254, 4, 4, 0.8);
}

.btn-block {
    width: 200px;
    margin-top: 100px;
    margin-left: 30px;
}

.icoShopping {
    background-color: rgb(253, 92, 92);
    width: 20px;
    text-align: center;
    border-radius: 25px;
    height: 20px;
    margin-top: -38px;
    margin-left: 1270px;

}

.iconPhone {
    /* background-color: rgb(192, 190, 190); */
    width: 100px;
    margin: 10px;
    text-align: center;
}

p:hover {
    color: blue;

}

.nav {
    padding-left: 200px;
    background-color: rgb(39, 39, 39);
}

.navItem {
    padding-left: 40px;
}

img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.imgBody {
    /* height: 500px; */
    margin-top: 150px;
    text-align: center;
}

.imgBody2 {
    padding-top: 30px;
    /* height: 500px; */
    margin-top: 30px;
    text-align: center;
    background-color: black;
}

h1 {
    font-size: 54px;
    background: -webkit-linear-gradient(rgba(2, 0, 36, 1) 1%, rgba(245, 36, 224, 1) 47%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.New {
    font-size: x-large;
}

.iPhoneName {
    margin-top: -10px;
    font-size: xx-large;
    font-weight: 500;
}

.btnBuy {
    align-items: center;
    width: 80px;
    background-color: rgb(15, 15, 231);
    border-radius: 30px;
    height: 45px;
    margin-left: -40px;
}

a {
    font-size: larger;
    font-weight: 500;
    margin-left: 50px;
}

.img2 {
    width: 100%;
    margin-left: -50px;
}

.imgBody3 {
    background-color: blueviolet;
    display: flex;
    padding-top: 30px;
    height: 600px;
    margin-top: 30px;
    text-align: center;
    background-color: #f3f9ea;
}

.text1 {
    padding-left: 85px;
}

.imgBody4 {
    padding-left: 70px;
}

.imgHeadPhone {
    text-align: center;
    width: 400px;
    margin-top: 250px;
    margin-left: 200px;
    position: absolute;
}

.cardHeadPhone {
    text-align: center;
    justify-content: center;
}

.CardFooter:hover {
    background-color: rgb(65, 77, 255);
}

.imgCard {
    padding: 50px;
    text-align: center;
}

.imgItemInfo {
    width: 450px;

}

.imgItemInfo:hover {
    width: 500px;

}

.textInfo {
    padding-left: 150px;
}

.divColor1 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(8, 7, 7);
    border-radius: 20px;
    margin-top: 20px;
    /* border: 4px solid blue; */
}

.divColorAll {
    align-items: center;
}

.divColor2 {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(253, 250, 243);
    border-radius: 20px;
    margin-top: 20px;
}

.divColorAll:hover {
    border: 1px solid blue;
    color: blue;
}

.btnAddToCard {
    background-color: rgb(58, 58, 221);
    width: 350px;
    padding: 5px;
    font-size: large;
    border-radius: 10px;
    margin-top: 50px;
}

.rowInfoH2 {
    padding-left: 70px;
    font-size: larger;
}

.hr1 {
    margin-left: 70px;
    width: 500px;
}

.rowInfoP {
    font-size: larger;
}

.rowInfo {
    margin-top: 50px;
}

.shopHeadH2 {
    font-size: 45px;
    font-weight: 700;
}

.shopHead {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.shopItem {
    justify-content: center;
    padding-right: 50px;
    /* padding: 80px; */
    padding-left: 50px;
    padding-bottom: 30px;
}

.shopImg {
    text-align: end;
    padding-right: 80px;
    padding-top: 50px;
}

.shopH2 {
    font-size: 25px;
    font-weight: 600;
}

s .shopDiv {
    padding-top: 20px;
}

.shopButton {
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: x-large;
    border: none;
}

.shopPrice {
    text-align: end;
}

.shopP {
    font-size: 15px;
    font-weight: 500;
    color: #4444ff;
    text-align: end;
}

.shopPriceP {
    margin-left: 15px;
    /* font-size: larger; */
    font-weight: 700;
}

.shopTotal {
    padding: 80px;

}

.shopCase {
    background-color: antiquewhite;
    padding-top: 0px;
}

.seclectCart {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 7px;
    width: 40px;
    font-size: larger;
    font-weight: 700;
}

.FacebookIcon:hover {
    font-size: 30px;
}

.InstagramIcon:hover {
    font-size: 30px;
}

.YouTubeIcon:hover {
    font-size: 30px;
}

.TwitterIcon:hover {
    font-size: 30px;
}

.imgHeader {
    width: 50px;
    /* height: 30px; */
}

.SignInHeader {
    display: flex;
    text-align: left;
}

.AccountBoxIcon {
    color: #4444ff;
    text-align: right;
    margin-top: 10px;
    margin-left: 45px;
    align-items: right;
    /* border-radius: 3rem; */
}

.AppleIcon {
    color: white;
    margin-top: 15px;
}


.TTSoLuong {
    background-color: #4444ff;
}

.TTKhachHang {
    /* /* background-color: rgb(126, 125, 125); */

}

.TTVitri {
    text-align: center;
    align-items: center;
    margin-top: 10px;
    background-color: rgb(240, 239, 239);
    /* padding-left: 20px; */
}

.TextFieldVoucher {
    width: 200px;
    margin: 30px;
}

.TTbtnDatHang {
    margin-left: 50px;
    width: 85%;
    background-color: rgb(243, 128, 33);
    margin-top: 20px;
    height: 55px;
}

.TTTongTien {
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.TTColTongTien {
    text-align: end;
    padding-right: 50px;
}

.CartSP {
    /* background-color: #4444ff; */
}

.cartTTKhachHang {
    padding-left: 40px;
    background-color: rgb(242, 242, 243);
}

.TTNguoiNhanHang {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid blue;
    background-color: #fcfcfc;
}

.Select {
    width: 180px;
}

.TTInputDiaChi {
    width: 180px;

}



@import url('https://fonts.googleapis.com/css?family=Numans');


.containerSigin {
    height: 100%;
    align-content: center;
    padding: 110px;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) ;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}
/* .inputInfo{
    height: 30px;
} */
.login_btn {
    margin-left: 60px;
    color: black;
    background-color: #FFC312;
    width: 250px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}