.menu{
    background-color: aqua;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-item {
    padding: 18px;
    border: 1px solid rgba(160, 158, 158, 0.8);
    font-size: 25px;
    text-align: center;
  }
 .grid-item:hover {
    opacity: 0.7;
    border: 1px solid rgba(254, 4, 4, 0.8);
  }
.btn-block{
    width: 200px;
    margin-top: 200px;
    margin-left: 30px;
}